<header class="w-100 d-lg-none" style="height: 5rem">
  <div class="d-lg-none container d-flex align-items-center">
    <a
      data-bs-toggle="offcanvas"
      href="#mobileSidebar"
      role="button"
      aria-controls="offcanvasExample"
    >
      <i class="bi bi-list text-black" style="font-size: 2rem; cursor: pointer">
      </i>
    </a>
  </div>
</header>
