<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Academic Week 2023</title>
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

   
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!-- Owl carousel 2 css -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    </head>
    
  <body class="page" id="LeaderboardApp">

    <!--
            style - style.css
    -->
    <main  style="min-height: 95vh;">
    <div class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo">
              <a href="/"><img src="/assets/images/logo_sti.png" alt="" id="sti_logo"></a>            
            </div>
          </div>
                    
          <div class="col-md-9">
            <nav class="mainmenu">
              <div class="navbar-collapse collapse"> 
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/p/leaderboard">Leaderboards</a></li>
                  <li><a href="/p/teams">Teams</a>
                    <%- include("../partials/dropdown-team-list.ejs") %>
                  </li>
                  <!-- <li><a href="photogallery.html">Photogallery</a></li> -->
                </ul>                                                     
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    
    <!--
            style - style.css
    -->
    <section class="recent-causes section-padding" >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-breadcroumb">
                <p><a href="/">Home</a> / Leaderboards</p>
              </div>
              <div class="inner-page-title">
                <h2>ACADEMIC WEEK 2023</h2>
              </div>
            </div>
          </div>
            
          <div class="row">
            <div class="col-md-12">
                <div class="inner-page-content">
                  <div class="selection">
                    <select name="leaderboard_selection_dd" id="leaderboard_selection_dd" class="form-select" @change="selectEvent" v-model="selectedEvent">
                      <option value="overall">Overall</option>
                      <option v-for="event in events" :value="event.id">
                        {{event.name}}
                      </option>
                    </select>
                </div>

                    <!--
                      leaderboards table
                    -->
                    <div class="leaderboard_table">
                      
                        <table>
                            <thead>
                              <tr>
                                <th id="nameheader">Team</th>
                                <th id="rankheader">Rank</th>
                                <th id="scoreheader">Score</th>
                              </tr>
                            </thead>
                            <tbody v-if="selectedEvent === 'overall'">
                              <tr v-for="score in scoresOverall">
                                <td class="name" id="teamname1"><a :href="'/p/teams/' + score.team.id">{{score.team.name}}</a></td>
                                <td class="rank" id="rank1">{{score.position}}</td>
                                <td class="score">{{score.totalPoints}}</td>
                              </tr>
                            </tbody>
                            <tbody v-else>
                              <tr v-for="team in scoresByEvent">
                            
                                <td class="name" id="teamname1"> <a :href="'/p/teams/' + team.id">{{team.name}}</a></td>
                                <template v-if="team.score">
                                <td class="rank" id="rank1">{{team.score.position}}</td>
                                <td class="score">{{team.score.totalPoints}}</td>
                              </template>
                              <template v-else>
                                <td class="rank" id="rank1">No position</td>
                                <td class="score">No score</td>
                              </template>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <!--
            style - style.css
    -->
    <%- include("../partials/footer.ejs") %>
    
    <!-- jQuery and plugins -->
    <script src="/assets/js/vendor/jquery.1.11.1.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.fs.boxer.min.js"></script>
    <script src="/assets/js/vue.global.prod.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
      const {createApp} = Vue

      createApp({

        data(){
          return{
            events:[],
            scoresOverall:[],
            scoresByEvent:[],
            selectedEvent:"overall"
          }
        },
        created(){
          this.fetchEvents()
          this.fetchOverall()
        },
        mounted(){
      
        },
        methods:{
          async fetchEvents(){
            try{  
              const response = await fetch("/api/1/events", {
                headers:{
                  "Content-Type": "application/json"
                }
              })
              const {data} = await response.json()
              this.events = data?.events ?? []
            }
            catch(error){
              console.log(error)
            }
          },
          selectEvent(){
            if(this.selectedEvent === "overall"){
              this.fetchOverall()
              return
            }
            this.fetchScoreByEvent()
          },
          async fetchOverall (){
            try{  
              const response = await fetch("/api/1/leaderboard/overall", {
                headers:{
                  "Content-Type": "application/json"
                }
              })
              const {data} = await response.json()
              this.scoresOverall = data?.scores ?? []
              
            }
            catch(error){
              console.log(error)
            }
          },

          async fetchScoreByEvent(){
            try{  
              const response = await fetch(`/api/1/leaderboard/events/${this.selectedEvent}`, {
                headers:{
                  "Content-Type": "application/json"
                }
              })
              const {data} = await response.json()
              console.log(data)
              this.scoresByEvent = data?.teams ?? []
            }
            catch(error){
              console.log(error)
            }
          }
        }
      }).mount("#LeaderboardApp")
    </script>
    
  </body>
  
</html>