<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E - BENTO</title>
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

   
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Owl carousel 2 css -->
    <link rel="stylesheet" href="css/owl.carousel.css">

    <!-- Boxer css -->
    <link rel="stylesheet" href="css/jquery.fs.boxer.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">

    </head>
    
    <body class="page">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo_sti.png" alt="" id="sti_logo"></a>
            
                        </div>
                    </div>
                    
                    <div class="col-md-9">
                        <nav class="mainmenu">
                            <div class="navbar-collapse collapse"> 
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="standings.html">Leaderboards</a></li>
                                    <li><a href="teams.html">Teams</a>
                                        <ul>
                                            <li><a href="teams/atiatihan.html">ATI-ATIHAN</a></li>
                                            <li><a href="teams/dinagyang.html">DINAGYANG</a></li>
                                            <li><a href="teams/higantes.html">HIGANTES</a></li>
                                            <li><a href="teams/kadayawan.html">KADAYAWAN</a></li>
                                            <li><a href="teams/maskara.html">MASKARA</a></li>
                                            <li><a href="teams/moriones.html">MORIONES</a></li>
                                            <li><a href="teams/pahiyas.html">PAHIYAS</a></li>
                                            <li><a href="teams/panagbenga.html">PANAGBENGA</a></li>
                                            <li><a href="teams/pintados.html">PINTADOS</a></li>
                                            <li><a href="teams/t nalak.html">T NALAK</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="photogallery.html">Photogallery</a></li>
                                </ul>                                                     
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    <section class="recent-causes section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-breadcroumb">
                        <p><a href="index.html">Home</a> / Photogallery</p>
                    </div>
                    
                    <div class="inner-page-title">
                        <h2>Photogallery</h2>
                    </div>
                </div>
            </div>
               
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/ati-atihan.jpg" data-gallery="gallery">
                        <img src="img/ati-atihan.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/dinagyang.jpg" data-gallery="gallery">
                        <img src="img/dinagyang.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/higantes.jpg" data-gallery="gallery">
                        <img src="img/higantes.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/kadayawan.jpg" data-gallery="gallery">
                        <img src="img/kadayawan.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/maskara.jpg" data-gallery="gallery">
                        <img src="img/maskara.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/moriones.jpg" data-gallery="gallery">
                        <img src="img/moriones.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/pahiyas.jpg" data-gallery="gallery">
                        <img src="img/pahiyas.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="boxer photo-item" href="img/panagbenga.jpg" data-gallery="gallery">
                        <img src="img/panagbenga.jpg" alt="">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                            <li class="current"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                        </ul>
                    </nav>                     
                </div>                
            </div>
            
        </div>
    </section>
    
    <!-- jQuery and plugins -->
    <script src="js/vendor/jquery.1.11.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.fs.boxer.min.js"></script>
    
    <script src="js/main.js"></script>
  </body>
</html>