<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs", {title: "Leaderboard"}) %>
  <body>
    <main id="LeaderboardApp">
      <div class="d-flex" style="height: 100vh">
        <%- include("../../partials//sidebar.ejs", {module: module}) %>
        <div class="container" style="margin-top: 100px">
          <div class="form-group">
            <select class="form-select" v-model="eventId" @change="selectEvent">
              <option value="overall">Overall</option>
              <option v-for="event in events" :value="event.id">
                {{event.name}}
              </option>
            </select>

            <table
              class="table table-bordered rounded mt-4 table-responsive"
              v-if="!isOverallView"
            >
              <thead>
                <tr>
                  <th scope="col">Team name</th>
                  <th scope="col">Points</th>
                  <th scope="col">Place</th>
                  <th scope="col">Rank</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="team in teams">
                  <td>{{team.name}}</td>
                  <template v-if="team.score === null">
                    <td>No Score</td>
                    <td>No Place</td>
                    <td>No rank</td>
                  </template>
                  <template v-if="team.score">
                    <td>{{team.score.totalPoints}}</td>
                    <td>{{team.score.position}}</td>
                    <td>{{team.score.rank.name}}</td>
                  </template>
                </tr>
              </tbody>
            </table>

            <table
              class="table table-bordered rounded mt-4 table-responsive"
              v-if="isOverallView"
            >
              <thead>
                <tr>
                  <th scope="col">Team name</th>
                  <th scope="col">Points</th>
                  <th scope="col">Place</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="score in overall">
                  <td>{{score.team.name}}</td>
                  <template v-if="score.team === null">
                    <td>No Score</td>
                    <td>No Place</td>
                    <td>No rank</td>
                  </template>
                  <template v-if="score.totalPoints">
                    <td>{{score.totalPoints}}</td>
                    <td>{{score.position}}</td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include("../../partials/script.ejs") %>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          events: [],
          eventId: "overall",
          teams: [],
          overall: [],
          isOverallView: true,
        };
      },
      mounted() {
        this.fetchEvents();
        this.fetchRankingsOverall();
      },
      methods: {
        async selectEvent() {
          if (this.eventId === "overall") {
            this.fetchRankingsOverall();
            this.isOverallView = true;
          } else {
            this.fetchRankingsByEvent();
            this.isOverallView = false;
          }
        },
        async fetchEvents() {
          try {
            const response = await fetch("/events", {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            });
            const { data } = await response.json();
            this.events = data?.events ?? [];
          } catch {}
        },
        async fetchRankingsByEvent() {
          try {
            const response = await fetch(`/leaderboards/${this.eventId}`, {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            });
            const { data } = await response.json();
            this.teams = data?.teams ?? [];
          } catch (error) {}
        },
        async fetchRankingsOverall() {
          try {
            const response = await fetch("/leaderboards/rank/overall", {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            });
            const { data } = await response.json();
            this.overall = data?.scores ?? [];
          } catch (error) {}
        },
      },
    }).mount("#LeaderboardApp");
  </script>
</html>
